<div id="login-container">
  <!-- Register Header -->
  <h1 class="text-light text-center push-top-bottom animation-fadeInQuickInv">
    <i class="glyphicon glyphicon-plus"></i> <strong>Register</strong> Account<br>
    <small>Make yourself heard!</small>
  </h1>
  <!-- END Register Header -->

  <!-- Register Form -->
  <div class="block animation-fadeInQuick">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form', :class => "form-horizontal form-bordered form-control-borderless"}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.text_field :name, :autofocus => true, class: 'form-control input-lg', placeholder: "Username" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.email_field :email, class: 'form-control input-lg', placeholder: "Email" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password, class: 'form-control input-lg', placeholder: "Password" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password_confirmation, class: 'form-control input-lg', placeholder: "Verify Password" %>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
          <%= button_tag(type: 'submit', class: "btn btn-sm btn-success") do %>
            <i class="glyphicon glyphicon-plus"></i> Register
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- END Register Form -->

  <!-- Footer -->
  <footer class="text-muted text-center">
    <small><span id="year-copy"></span> &copy; <a href="javascript:void(0)" target="_blank">OnePlusReviews</a></small>
  </footer>
  <!-- END Footer -->
</div>