%h2 Welcome to Oneplus Reviews

%h4.green-color What is this site about?
%h5 My experience with support has been so appalling that I took the time to setup this website in order to warn new potential customers about OnePlus, and to gather feedback of other users who've been confronted by the total lack of support from OnePlus.
%h5 Right now it's a very basic site, where we can gather user videos of their phones.  Since OnePlus support forces everybody to make a video that shouldn't be a problem :-)

%h4.green-color Plans for this site
%h5 Well depending on the popularity I plan to add stats where you can see the number of who users registered their phones, number of days between ticket creation and RMA, technical info etc...  Another addition would be 'hilarious customer support threads' where users you can vote on the most painful user experience.

%h4.green-color Why go through all the trouble?
%h5 Nobody likes getting left in the cold.  OnePlus customer support is toying with us, only trying to gain time, while lots of users are experiencing real issues that are rendering their phone completely useless (ghost touches).
%h5
  %strong NEVER SETTLE
  , that's the tagline of OnePlus.  Well, they can rest assured:
  %strong we won't!