%h3 How does a regular support ticket migrate at OnePlus?
%h5 Content about how a typical support ticket is handled at OnePlus, which questions does a customer get, through which hoops does he need to jump to be able to get a justified RMA.
%h5 Content welcome...