= simple_form_for(@video) do |f|
  = f.error_notification

  .form-inputs
    = f.input :link, :placeholder => 'Paste in your youtube link here'
    = f.input :description, as: :text, :placeholder => 'Optional: you can enter a description of the problem here'

  .form-actions
    = f.button :submit
