%h3 Some footage of OnePlus phones:
- if current_user.nil?
  %h4 You can submit your own video by logging in
- else
  %h4= link_to 'Submit your own youtube video', new_video_path
%h5

- @videos.each do |video|
  = raw(video.frame)
  %h5=  video.description if !video.description.nil?
  .text-muted= 'Added by: ' + video.user.name if !video.user.nil?
  .text-muted= 'Added on: ' + video.created_at.to_s(:long)
  %p


= will_paginate @videos
