%p#notice= notice

%p
  %b Description:
  = @video.description
%p
  %b Link:
  = @video.link
%p
  %b User:
  = @video.user_id

= link_to 'Edit', edit_video_path(@video)
\|
= link_to 'Back', videos_path
