<div id="login-container">
  <!-- Login Header -->
  <h1 class="text-light text-center push-top-bottom animation-fadeInQuickInv">
    <i class="fa fa-shield"></i> OnePlus<strong>Reviews</strong><br>
    <small>Welcome!</small>
  </h1>
  <!-- END Login Header -->

  <!-- Login Form -->
  <div class="block animation-fadeInQuick">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :class => "form-horizontal form-bordered form-control-borderless" }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.email_field :email, :autofocus => true, class: 'form-control input-lg', placeholder: "Email" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <%= f.password_field :password, class: 'form-control input-lg', placeholder: "Enter your password.." %>
        </div>
      </div>
      <div class="form-group form-actions">
        <div class="col-xs-6">
          <label class="switch switch-primary">
            <%= f.check_box :remember_me %>
            <span></span>
          </label>
          Remember Me?
        </div>
        <div class="col-xs-6 text-right">
          <%= button_tag(type: 'submit', class: "btn btn-sm btn-success") do %>
            <i class="glyphicon glyphicon-arrow-right"></i> Login
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <!-- END Login Form -->

  <!-- Footer -->
  <footer class="text-muted text-center">
    <small><span id="year-copy"></span> &copy; <a href="javascript:void(0)" target="_blank">OnePlusReviews</a></small>
  </footer>
  <!-- END Footer -->
</div>

<script>$(function(){ ReadyLogin.init(); });</script>

