.page-content {
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 25%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #CBD8D5;
    line-height: normal;
}

.green-color {
    color: #2eb398;
}
