/*
 *  Document   : themes.css
 *  Author     : pixelcave
 *  Description: The themes stylesheet of the template. The classes can be used to
 *  alter the text or the background of an element individually
 *
 */

/*
=================================================================
THEME DEFAULT
=================================================================
*/

.themed-color-default {
    color: #2eb398 !important;
}

.themed-background-default {
    background-color: #2eb398 !important;
}

.themed-color-dark-default {
    color: #323d40 !important;
}

.themed-background-dark-default {
    background-color: #323d40 !important;
}

/*
=================================================================
THEME BLUE
=================================================================
*/

.themed-color-blue {
    color: #3498db !important;
}

.themed-background-blue {
    background-color: #3498db !important;
}

.themed-color-dark-blue {
    color: #444444 !important;
}

.themed-background-dark-blue {
    background-color: #444444 !important;
}

/*
=================================================================
THEME ORANGE
=================================================================
*/

.themed-color-orange {
    color: #f4b350 !important;
}

.themed-background-orange {
    background-color: #f4b350 !important;
}

.themed-color-dark-orange {
    color: #403a32 !important;
}

.themed-background-dark-orange {
    background-color: #403a32 !important;
}

/*
=================================================================
THEME RED
=================================================================
*/

.themed-color-red {
    color: #e56a5c !important;
}

.themed-background-red {
    background-color: #e56a5c !important;
}

.themed-color-dark-red {
    color: #523c39 !important;
}

.themed-background-dark-red {
    background-color: #523c39 !important;
}

/*
=================================================================
THEME PURPLE
=================================================================
*/

.themed-color-purple {
    color: #9b59b6 !important;
}

.themed-background-purple {
    background-color: #9b59b6 !important;
}

.themed-color-dark-purple {
    color: #4b3952 !important;
}

.themed-background-dark-purple {
    background-color: #4b3952 !important;
}

/*
=================================================================
THEME GREY
=================================================================
*/

.themed-color-grey {
    color: #949494 !important;
}

.themed-background-grey {
    background-color: #949494 !important;
}

.themed-color-dark-grey {
    color: #555555 !important;
}

.themed-background-dark-grey {
    background-color: #555555 !important;
}