<%# add navigation links to this file %>
<li><%= link_to 'Submit a video', new_video_path  if user_signed_in? %></li>
<li><%= link_to 'User videos', videos_path %></li>
<li><%= link_to 'Support cycle', support_path %></li>
<li><%= link_to 'Stats', stats_path %></li>
<% if user_signed_in? %>
<li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>