!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:content => "OnePlus reviews offers real-user experiences with OnePlus devices and their support", :name => "description"}
    %meta{:content => "Stijn", :name => "author"}
    %link{:href => "//fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700", :rel => "stylesheet"}/
    %title= content_for?(:title) ? yield(:title) : 'Oneplus Reviews'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Oneplus Reviews'}"}
    = stylesheet_link_tag 'devise', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = yield
